<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="../static/images/dragon.png" alt="Logo de Dragon Ball" class="img-fluid">
            <h1 class="mb-4">Dragon Ball API</h1>
            <p class="lead">¡Bienvenido a la API de Dragon Ball! Si eres fanático de la serie, este es el lugar
                perfecto para ti. Nuestra API te ofrece acceso a una amplia variedad de información detallada y
                precisa sobre los personajes, técnicas, objetos y otros elementos del universo de Dragon Ball.
            </p>
        </div>
    </div>
</div>