<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="https://dragonballapi-backend.vercel.app/character/information/goku"
                target="_blank">Personajes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://dragonballapi-backend.vercel.app/fusion/information/gogeta"
                target="_blank">Fusiones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="https://dragonballapi-backend.vercel.app/videogame/information/Dragon Ball Z: Budokai Tenkaichi 3"
                target="_blank">Videojuegos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://dragonballapi-backend.vercel.app/planet/information/tierra"
                target="_blank">Planetas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://dragonballapi-backend.vercel.app/saga/information/dragon ball (anime)"
                target="_blank">Sagas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/xtream-club/Dragon-Ball-API-BackEnd"
                target="_blank">GitHub</a>
        </li>
    </ul>
</div>